<template name="navbar">
  <div class="contain-to-grid sticky">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">Home</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <ul class="left">
          {{> navBarLinks }}
        </ul>
        <ul class="right">
          <li>{{> loginButtons }}</li>
        </ul>
      </section>
    </nav>
  </div>
</template>